.apt-update-indicator-list {
    padding-top: 10px;
    padding-bottom: 10px;
}

.apt-update-indicator-menubutton {
    /* Meant to be used as an override to display a small system-menu-action */
    border-radius: 10px;
    padding: 0px 4px;
}
.apt-update-indicator-menubutton:hover, .apt-update-indicator-menubutton:focus {
    /* 1px borders disapears, need to compensate */
    padding: 1px 5px;
}
.apt-update-indicator-menubutton > StIcon {
    icon-size: 16px;
}

.apt-update-indicator-updatelabel {
    font-family: monospace;
}

.apt-update-indicator-urgentlabel {
    font-family: monospace;
    color: rgba(255, 60, 60, 1);
}
